@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #c2c4b1;
    --branco: #FFFFFF;
    --laranja: #5f4615;
    --azul-degrade: linear-gradient(97.54deg, #051420 35.49%, #adbfcc 165.37%);
    --fonte-principal: "Poppins";
    --azul: #4da9f0;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}